.battle-background-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.battle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attack-button,
.defense-button {
  position: absolute;
  top: 60.8%;
  width: 150px; /* Reduced button size */
  height: 60px; /* Reduced button size */
  z-index: 2;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.attack-button {
  left: 30.5%;
}

.defense-button {
  left: 50%;
}

.attack-button:hover,
.defense-button:hover {
  cursor: pointer;
  background: none;
  transform: scale(1);
}

.modal {
  position: fixed; /* Changed to fixed for consistent positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 10px; /* Reduced padding for compactness */
  border-radius: 8px; /* Slightly smaller rounded corners */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  max-width: 20px; /* Smaller modal width */
  width: 9%; /* Ensure responsiveness */
}

.modal-content h2 {
  font-size: 14px; /* Reduced font size */
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 12px; /* Reduced font size */
  margin-bottom: 10px;
}

.modal-content button {
  padding: 5px 10px; /* Smaller button */
  font-size: 12px; /* Smaller font */
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-img {
  width: 200px; /* Set the desired smaller width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure responsiveness */
}


.overlay-button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 580px;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.overlay-button-A {
  top: 450px;
}
.overlay-button-B {
  top: 500px;
}
.overlay-button-C {
  top: 550px;
}
.overlay-button-D {
  top: 600px;
}

.overlay-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
