body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.Home {
  height: 100vh;
}

/* header */
.header {
  background-color: #ffe4e1;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10px;
}
.back-button {
  width: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10;
  margin-left: 20px;
}
.back-button-img {
  width: 3vw;
  height: auto;
}
.points {
  margin-right: 20px;
  width: 75px;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.points-img {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.points-text {
  margin: 0;
  display: inline-block;
  padding: 0;
}
.middle {
  width: 75px;
  align-items: center;
  text-align: center;
}
/*end of header*/

.points h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

.Home-body {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
}

.pet-card {
  width: 100px;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-card.common {
  border: 2px solid #cccccc;
}

.pet-card.rare {
  border: 2px solid #ffcc00;
}

.pet-card.mythic {
  border: 2px solid #9933ff;
}

.pet-img {
  font-size: 2rem;
}
.pet-name,
.pet-rarity {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
}
.pet-rarity {
  font-size: 1.2rem;
}

.button-grid-container {
  background-color: #ffe4e1; /* Light pink background for a retro vibe */
  color: white;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px; /* Add some space between buttons */
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
}

button {
  background-color: #ffd1dc;
  color: #4a4a4a;
  border: 3px solid #fcb6c3;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 1.2rem;
  /* */
  cursor: pointer;
  width: 150px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  transition: background-color 0.1s; /* make cool hover and click effect take time*/
}

button:hover {
  background-color: #fcb9c8;
  transform: scale(1.1);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(1.05);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

footer {
  z-index: 1;
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 10vh;
}
