h1 {
  font-size: 2vw;
}

h2 {
  font-weight: 200;
  font-size: 1.25vw;
}

h3 {
  font-size: 2vw;
  font-weight: 500;
  padding-bottom: 0;
}

.Learn {
  text-align: center;
}

.whiteboard {
  z-index: 1;
  top: 0vh;
  left: 50vw;
  transform: translate(-50%);
  width: 50vw;
  height: auto;
  position: absolute;
}

.whiteboard:hover {
  opacity: 95%;
}

.right_arrow {
  top: 45vh;
  right: 15vw;
  transform: translate(-50%);
  display: block;
  width: 6vw;
  height: auto;
  position: absolute;
}

.right_arrow:hover {
  opacity: 80%;
}

.left_arrow {
  top: 45vh;
  left: 15vw;
  transform: translate(50%) scaleX(-1);
  display: block;
  width: 6vw;
  height: auto;
  position: absolute;
}

.left_arrow:hover {
  opacity: 80%;
}

.Toppy {
  z-index: 15;
  display: block;
  width: 20vw;
  bottom: 0vh;
  position: absolute;
}

footer {
  z-index: 1;
  display: block;
  width: 100vw;
  position: absolute;
  bottom: -10vh;
}
