.pet-details {
  text-align: center;
  padding: 20px;
}

.pet-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.pet-stats {
  flex: 1;
  text-align: left;
}

.pet-stats h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.pet-stats p {
  font-size: 1.2rem;
  margin: 5px 0;
}

.pet-stats button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pet-stats button:hover {
  background-color: #218838;
}

.pet-img img {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.pet-details button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pet-details button:hover {
  background-color: #0056b3;
}
