.pet-details {
  text-align: center;
  padding: 10px; /* Reduce padding */
}

.pet-details-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Reduce the gap between sections */
  max-width: 800px; /* Reduce max-width */
  margin: 90px auto; /* Increased top and bottom margin */
  padding: 15px; /* Keep the padding as is */
  border-radius: 10px;
}

.pet-stats {
  flex: 1;
  text-align: left;
}

.pet-stats h2 {
  font-size: 1.5rem; /* Reduce font size */
  margin-bottom: 10px; /* Reduce margin */
}

.pet-stats p {
  font-size: 1rem; /* Reduce font size */
  margin: 4px 0; /* Reduce margin between paragraphs */
}

.pet-stats button {
  padding: 10px 16px; /* Smaller padding */
  margin-top: 15px; /* Reduce margin */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pet-stats button:hover {
  background-color: #218838;
}

.pet-details button {
  padding: 8px 16px; /* Smaller padding */
  margin-top: 25px; /* Reduce margin */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pet-details button:hover {
  background-color: #0056b3;
}
